.container{
    background-color: whitesmoke;
    margin-top: 7%;
} 

.subtitulo{
   align-content: left;
   margin-top: 50px;
}

.form-monitoria{
    display: flex;
    margin-left: 25px;
}

.foto{
    width: 350px;
    margin-left: 20%;
    border-radius: 10px;
}

#btn-enviar{
    float: left;
}
