.ui-modal {
    background-color: #fff;
    border-radius: 4px;
    max-width: 900px;
    max-height: 80%;
    margin: 80px auto 0 auto;
    padding: 15px;
    overflow: scroll;
}

.ui-modal-fundo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.ui-modal-fecha-button {
    float: right;
    background-color: unset;
    border: unset;
    

}

.comentario-form {
    margin-top: 40px;
}

.comentario-form textarea {
    border-radius: 4px;
    border: 1px solid #AAAAAA;
    width: 100%;
}
